## ì˜ˆì¸¡ ëª¨ë¸ ì—°ìŠµí•˜ê¸°

### í•„ìš”í•œ ì½”ë“œ ê°€ì ¸ì˜¤ê¸°

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from  datetime import datetime, timedelta
from tensorflow.keras.models import load_model

WARNING:tensorflow:From C:\Users\í•™ìƒ\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
import tensorflow as tf

In [3]:
# ì‚¬ì „ ë¡œë”©ëœ LSTM ëª¨ë¸ ë¶ˆëŸ¬ì˜¤ê¸°
model = load_model('./new_model/29-0.7149.keras')

WARNING:tensorflow:From C:\Users\í•™ìƒ\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

WARNING:tensorflow:From C:\Users\í•™ìƒ\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

### ì‚¬ìš©ìê°€ ì…ë ¥í•œ ë°ì´í„°

In [4]:
# ë§Œì•½ ì‚¬ìš©ìê°€ ë‚ ì§œ, ë°œì£¼ìˆ˜ëŸ‰ì„ 3ì¼ì¹˜ ì…ë ¥í•œë‹¤ê³  ê°€ì •í•œë‹¤.

orders = [
    {"date" : "2025-04-10", "qty" : 200},
    {"date" : "2025-04-09", "qty" : 500},
    {"date" : "2025-04-11", "qty" : 100}
]

# ë‚ ì§œëŠ” ë°˜ë“œì‹œ 'YYYY=MM-DD' ë¬¸ìì—´ë¡œ ì…ë ¥í•´ì•¼ í•œë‹¤.

#### ë°ì´í„° ë³€í™˜ í•¨ìˆ˜

In [5]:
pd.DataFrame(orders)

         date  qty
0  2025-04-10  200
1  2025-04-09  500
2  2025-04-11  100

In [6]:
df = pd.DataFrame(orders)
df['date'] = pd.to_datetime(df['date'])
df['date']

0   2025-04-10
1   2025-04-09
2   2025-04-11
Name: date, dtype: datetime64[ns]

In [7]:
df = df.sort_values(by='date')
df

        date  qty
1 2025-04-09  500
0 2025-04-10  200
2 2025-04-11  100

In [8]:
# ê°€ì¥ ë§ˆì§€ë§‰ ë‚ ì§œ êµ¬í•˜ê¸°
latest_date = df['date'].max()
latest_date

Timestamp('2025-04-11 00:00:00')

In [9]:
lookback_days = 3 # LSTMì´ ê³¼ê±° 3ì¼ ë°ì´í„°ë¥¼ ì…ë ¥ìœ¼ë¡œ ì‚¬ìš©(ì¦‰, íƒ€ì„ìŠ¤í… 3)
range(lookback_days -1, -1, -1) # 2ì—ì„œ -1ê¹Œì§€(ë¶ˆí¬í•¨) -1ì”© ê°ì†Œ => ê²°ê³¼ [2,1,0]

# ìµœê·¼ ë‚ ì§œì—ì„œ 2ì¼ì „ -> 1ì¼ì „ -> ë‹¹ì¼ ìˆœì„œë¡œ ë°˜ë³µ

range(2, -1, -1)

In [10]:
# timedelta(days = i)ë¡œ ë‚ ì§œ ì°¨ì´ ê³„ì‚°

print("ê¸°ì¤€ì¼(ë‹¹ì¼)", latest_date - timedelta(0))
print("í•˜ë£¨ì „", latest_date - timedelta(days=1))
print("2ì¼ì „", latest_date - timedelta(2))

ê¸°ì¤€ì¼(ë‹¹ì¼) 2025-04-11 00:00:00
í•˜ë£¨ì „ 2025-04-10 00:00:00
2ì¼ì „ 2025-04-09 00:00:00

In [11]:
# ì´ ì½”ë“œëŠ” LSTM ëª¨ë¸ì—ì„œ ì˜ˆì¸¡ì„ ìœ„í•œ ì‹œê³„ì—´ ì…ë ¥ì„ êµ¬ì„±í•˜ê¸° ìœ„í•´ "3ì¼ì¹˜ ë‚ ì§œë¥¼ ìµœê·¼ ë‚ ì§œ ê¸°ì¤€ìœ¼ë¡œ ê±°ê¾¸ë¡œ ìƒì„±"
date_range = [latest_date - timedelta(days=i) for i in range(lookback_days -1,-1,-1)]
date_range

[Timestamp('2025-04-09 00:00:00'),
 Timestamp('2025-04-10 00:00:00'),
 Timestamp('2025-04-11 00:00:00')]

In [12]:
df[df['date'] == date_range[0]]

        date  qty
1 2025-04-09  500

In [13]:
# ë§Œì•½ ì—°ì†ì ì¸ ë‚ ì§œ(3ì¼)ì´ í•„ìš”í•œë°, ëˆ„ë½ëœ ë°ì´í„°ê°€ ìˆë‹¤ë©´
filled_empty = []
df_empty = pd.DataFrame([
    {'date' : '2025-4-9', 'qty':100},
    {'date' : '2025-4-11', 'qty':300}
])

# ë‚ ì§œ íƒ€ì… ë³€í™˜
df_empty['date'] = pd.to_datetime(df_empty['date'])

# ê¸°ì¤€ì¼ ì—ì„œ -1, -2 í•œ ë‚ ì§œ, ì—°ì†ëœ ë‚ ì§œ 3ê°œ
date_range_empty = [datetime(2025, 4,9), datetime(2025, 4, 10), datetime(2025, 4, 11)]

for date in date_range_empty :
    row = df_empty[df_empty['date'] == date]
    if row.empty :
        filled_empty.append({'date' : date, "qty":0})
    else :
        filled_empty.append({'date' : date, "qty": int(row['qty'].values[0])})
pd.DataFrame(filled_empty)

        date  qty
0 2025-04-09  100
1 2025-04-10    0
2 2025-04-11  300

In [14]:
# LSTM ëª¨ë¸ì— ë„£ê¸° ìœ„í•œ ë‚ ì§œë³„ ë°œì£¼ ìˆ˜ëŸ‰ ë°ì´í„°ë¥¼ ì •ë¦¬
# date_rangeì— í•´ë‹¹í•˜ëŠ” ë‚ ì§œ 3ì¼ì¹˜ì— ëŒ€í•´ ì…ë ¥ ë°ì´í„°(df)ì— í•´ë‹¹ ë‚ ì§œê°€ ì—†ìœ¼ë©´
# -> ìˆ˜ëŸ‰ 0ìœ¼ë¡œ ì±„ìš°ê³ , ìˆìœ¼ë©´ -> í•´ë‹¹ ë‚ ì§œì˜ ìˆ˜ëŸ‰ì„ ë„£ëŠ”ë‹¤
# ë‚ ì§œê°€ ì—°ì†ì ì´ì—¬ì•¼ í•˜ê³ , ëˆ„ë½ëœ ë‚ ì§œëŠ” ë°˜ë“œì‹œ ì±„ì›Œì¤˜ì•¼ í•¨ (0 ë˜ëŠ” ë‹¤ë¥¸ ê°’ìœ¼ë¡œ)

filled = []
for date in date_range :
    row = df[df['date'] == date]
    if row.empty :
        filled.append({'date':date, "qty": 0})
    else :
        filled.append({'date':date, "qty": int(row['qty'].values[0])})
pd.DataFrame(filled)

        date  qty
0 2025-04-09  500
1 2025-04-10  200
2 2025-04-11  100

In [15]:
filled_df = pd.DataFrame(filled)
filled_df

        date  qty
0 2025-04-09  500
1 2025-04-10  200
2 2025-04-11  100

In [16]:
qtys = filled_df['qty'].values
qtys

array([500, 200, 100], dtype=int64)

In [17]:
# LSTMì— ì…ë ¥í•  ì‹œê³„ì—´ ë°ì´í„°ë¥¼ ë§Œë“ ë‹¤
# 3ì¼ì¹˜ ë°œì£¼ ìˆ˜ëŸ‰ ë°ì´í„°(qtys)ë¥¼ ë‹¤ì–‘í•œ ìˆ˜ì¹˜ë¡œ ë³€í™˜í•´ì„œ 8ê°œì˜ í”¼ì²˜(feature)ë¥¼ ì¶”ì¶œ

# LSTM ì…ë ¥ í˜•íƒœ : (samples, time_steps=3, features=8)
# -> ê° ë‚ ì§œë§ˆë‹¤ 8ê°€ì§€ í”¼ì²˜(ìˆ«ì)ë¥¼ ë§Œë“¤ì–´ì•¼ í•˜ë¯€ë¡œ ì´ ë°˜ë³µë¬¸ì—ì„œ 8ê°œì˜ ê°’ ì¶”ì¶œ

In [18]:
len(qtys)

3

In [19]:
# í˜„ì¬ ë‚ ì§œì˜ ìˆ˜ëŸ‰
qtys[2]

100

In [20]:
qtys[:2 +1] #qtys[:3] ì²˜ìŒë¶€í„° 2ë²ˆê¹Œì§€ ê°€ì ¸ì˜¨ë‹¤

array([500, 200, 100], dtype=int64)

In [21]:
for i in range(len(qtys)):
    mean_qty = np.mean(qtys[:i +1]) #ì§€ê¸ˆê¹Œì§€ í‰ê· 
mean_qty

266.6666666666667

In [22]:
# í‰ê·  ìˆ˜ëŸ‰ (ëˆ„ì  í‰ê· )
# i(3)ì´ 0ë³´ë‹¤ í¬ë©´ qtys ë°°ì—´ì„ ê°€ì ¸ì™€ í‰ê· ê°’ì„ ë‚´ê³ , ê·¸ë ‡ì§€ ì•Šìœ¼ë©´ qtys[i]ê°’ì„ ê°€ì ¸ì˜¨ë‹¤
mean_qty = np.mean(qtys[:3 +1]) if 3 > 0 else qtys[3] 
mean_qty
# ì‚¼í•­ ì—°ì‚°ì A if ì¡°ê±´ else B
# ì¡°ê±´ì´ True ì´ë©´ Aë¥¼ ì‹¤í–‰, ì¡°ê±´ì´ False ì´ë©´ Bë¥¼ ì‹¤í–‰

266.6666666666667

In [23]:
# ì¦ê°ëŸ‰ (ì§ì „ì¼ ëŒ€ë¹„ ì°¨ì´)
diff = qtys[i] - qtys[i-1] if i>0 else 0

# ì´ì „ë‚ ê³¼ì˜ ì°¨ì´, ì²«ë‚ ì€ ë¹„êµ ëŒ€ìƒ ì—†ìœ¼ë¯€ë¡œ 0

In [24]:
# ëˆ„ì  ìˆ˜ëŸ‰
cumulative = np.sum(qtys[:i + 1])

# i=2 ì´ë©´ qty[0] + qty[1] + qty[2]
# í˜„ì¬ê¹Œì§€ ëˆ„ì  ë°œì£¼ëŸ‰

In [25]:
# í˜„ì¬ ìˆ˜ëŸ‰ / í‰ê· 

qtys[0] / (mean_qty + 1e-5)

# 0ìœ¼ë¡œ ë‚˜ëˆ„ëŠ” ì˜¤ë¥˜ë¥¼ í”¼í•˜ê¸° ìœ„í•´ 1e-5ë¥¼ ë„£ì–´ì¤€ë‹¤ /ë‚˜ëˆ„ê¸°í• ë•Œ => ì˜¤ë¥˜ë¥¼ í”¼í•˜ê¸° ìœ„í•œ ì•ˆì „ì¥ì¹˜
# ì–´ë–¤ ìˆ˜ë¥¼ 0ìœ¼ë¡œ ë‚˜ëˆ„ë©´ ZeroDeivisionError ë°œìƒ

1.8749999296875026

In [26]:
# ìµœì¢… í”¼ì²˜ ë²¡í„° êµ¬ì„±(8ê°œ)
features = []
for i in range(len(qtys)) :
    qty = qtys[i]
    mean_qty = np.mean(qtys[:i + 1]) if i>0 else qty
    diff = qtys[i] - qtys[i-1] if i>0 else 0
    cumulative = np.sum(qtys[:i +1])
    features.append([
        qty, #í˜„ì¬ ìˆ˜ëŸ‰
        mean_qty, #í‰ê·  ìˆ˜ëŸ‰
        diff, #ì¦ê°ëŸ‰
        cumulative, #ëˆ„ì  ìˆ˜ëŸ‰
        1 if qty>0 else 0, # ë°œì£¼ ì—¬ë¶€
        i/ lookback_days, # ìƒëŒ€ ì‹œê°„ ìœ„ì¹˜(0.0, 0.33, 0.66) # lookback_days=3
        np.log1p(qty), #ë¡œê·¸ ìŠ¤ì¼€ì¼ ìˆ˜ëŸ‰(log(1+qty))
        qty / (mean_qty + 1e-5) # í˜„ì¬ìˆ˜ëŸ‰ / í‰ê· (ë¹„ìœ¨)
    ])
features

[[500, 500, 0, 500, 1, 0.0, 6.2166061010848646, 0.9999999800000005],
 [200,
  350.0,
  -300,
  700,
  1,
  0.3333333333333333,
  5.303304908059076,
  0.5714285551020413],
 [100,
  266.6666666666667,
  -100,
  800,
  1,
  0.6666666666666666,
  4.61512051684126,
  0.37499998593750056]]

In [27]:
np.array(features).reshape(1,3,8)

# reshape(1, 3, 8) : 1ê°œì˜ ìƒ˜í”Œ, 3ì¼ì¹˜ ë°ì´í„°, 8ê°œì˜ í”¼ì²˜ë¡œ ëª¨ë¸ì— ì…ë ¥í•˜ê¸°

array([[[ 5.00000000e+02,  5.00000000e+02,  0.00000000e+00,
          5.00000000e+02,  1.00000000e+00,  0.00000000e+00,
          6.21660610e+00,  9.99999980e-01],
        [ 2.00000000e+02,  3.50000000e+02, -3.00000000e+02,
          7.00000000e+02,  1.00000000e+00,  3.33333333e-01,
          5.30330491e+00,  5.71428555e-01],
        [ 1.00000000e+02,  2.66666667e+02, -1.00000000e+02,
          8.00000000e+02,  1.00000000e+00,  6.66666667e-01,
          4.61512052e+00,  3.74999986e-01]]])

In [28]:
# ì§€ê¸ˆê¹Œì§€ ì—°ìŠµí•œ ê²ƒì„ ë©”ì„œë“œë¡œ ë§Œë“¬
def convert_user_input_to_model_input(orders):
    df = pd.DataFrame(orders)
    df['date'] = pd.to_datetime(df['date'])
    df = df.sort_values(by='date')

    latest_date = df['date'].max()
    lookback_days = 3 
    date_range = [latest_date - timedelta(days=i) for i in range(lookback_days -1,-1,-1)]

    filled = []
    for date in date_range :
        row = df[df['date'] == date]
        if row.empty :
            filled.append({'date':date, "qty": 0})
        else :
            filled.append({'date':date, "qty": int(row['qty'].values[0])})
    filled_df = pd.DataFrame(filled)
    qtys = filled_df['qty'].values

    features = []
    for i in range(len(qtys)) :
        qty = qtys[i]
        mean_qty = np.mean(qtys[:i + 1]) if i>0 else qty
        diff = qtys[i] - qtys[i-1] if i>0 else 0
        cumulative = np.sum(qtys[:i +1])
        features.append([
            qty, #í˜„ì¬ ìˆ˜ëŸ‰
            mean_qty, #í‰ê·  ìˆ˜ëŸ‰
            diff, #ì¦ê°ëŸ‰
            cumulative, #ëˆ„ì  ìˆ˜ëŸ‰
            1 if qty>0 else 0, # ë°œì£¼ ì—¬ë¶€
            i/ lookback_days, # ìƒëŒ€ ì‹œê°„ ìœ„ì¹˜(0.0, 0.33, 0.66) # lookback_days=3
            np.log1p(qty), #ë¡œê·¸ ìŠ¤ì¼€ì¼ ìˆ˜ëŸ‰(log(1+qty))
            qty / (mean_qty + 1e-5) # í˜„ì¬ìˆ˜ëŸ‰ / í‰ê· (ë¹„ìœ¨)
        ])

    return np.array(features).reshape(1,3,8)

### ë³€í™˜ + ì˜ˆì¸¡ ì‹¤í–‰

In [29]:
model_input = convert_user_input_to_model_input(orders)
print("LSTM ì…ë ¥ í˜•íƒœ :", model_input.shape)

LSTM ì…ë ¥ í˜•íƒœ : (1, 3, 8)

In [30]:
# ì˜ˆì¸¡
y_pred = model.predict(model_input).flatten()[0]
print(f"ğŸ€ ì˜ˆì¸¡ëœ 3ì¼ í›„ ë°œì£¼ ìˆ˜ëŸ‰ : {y_pred:.2f}ê°œ")

# ì´ëª¨ì§€ : ìœˆë„ìš° í‚¤ + .
# f ëŠ” f-string (formatted string literal)ì˜ í‘œì‹œ
# ë¬¸ìì—´ í¬ë§·íŒ… ë°©ì‹ìœ¼ë¡œ, ë¬¸ìì—´ ì•ˆì— ë³€ìˆ˜ë‚˜ í‘œí˜„ì‹ì„ {} ì¤‘ê´„í˜¸ë¡œ ì§ì ‘ ë„£ì„ ìˆ˜ ìˆë‹¤.

1/1 [==============================] - 1s 604ms/step
ğŸ€ ì˜ˆì¸¡ëœ 3ì¼ í›„ ë°œì£¼ ìˆ˜ëŸ‰ : 1022.59ê°œ